@keyframes fadeInFromRight {

  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-up {

  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes slide {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 600vw;
  }
}

@keyframes fade-in-slide-down {

  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: skew(-4deg) rotateZ(-4deg);
  }
}
