/**
 * Inspired by Bootstrap
 * https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_buttons.scss 
 *
 */

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-variant($color, $background-color, $border) {

  color: $color;
  background-color: $background-color;
  box-shadow: inset 0 0 0 1px $border;

  &:hover {
    color: $white;
    background-color: $red;
    /*box-shadow: inset 0 0 0 1px $border;*/
  }

}

@mixin expand-target() {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin clearfix() {
  @extend .clearfix;
}

@mixin edge-spacing( $goToZero: false ) {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1em;
  padding-left: 1em;

  @include breakpoint($screen $medium-start) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @if $goToZero {
    @include breakpoint($screen $contentwidth + 2rem) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

@mixin vertical-center($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hover-scale($scale: 1.1) {
  transform: scale($scale);
}
