$bbflip: $large-minor-start;
$bbh3maxwidth: 36rem;

%billboard-body-base {
  max-width: $bbh3maxwidth;
  font-family: $font-light;
  color: $white;

}

%billboard-section-base {
  min-height: 1px;
  max-width: 50%;

  @include breakpoint($screen $bbflip) {
    flex-basis: 50%;
  }
}

.billboard {
}

.billboard__row {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;

  @include breakpoint($screen $bbflip) {
    flex-direction: row-reverse;
  }
}

.billboard__section {

  min-height: 1px;

  & img {
    float: left;
    min-height: 1px;
  }

  @include breakpoint($screen $bbflip) {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    position: relative;
  }


  &--image {
  }

}

.billboard__text {
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  box-shadow: inset 0px 13px 10px -11px rgba(0, 0, 0, 0.21);
  @extend %background-color-for-audience;

  @include breakpoint($screen $bbflip) {
    display: block;
    padding-right: 2rem;
    text-align: left;
    box-shadow: none;
  }

  @include breakpoint($screen $large-minor-minor-start) {
    padding: 2rem;
  }

  @include breakpoint($screen $xlarge-minor-minor-start) {
    /*padding: 2rem 2rem 2rem 0;*/
    padding: 2rem 2rem 2.5rem;
  }
}

.billboard__body {

  margin-left: auto;
  margin-right: auto;

  @include breakpoint($screen $bbflip) {
    display: flex;
    margin-left: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: calc(#{$contentwidth} / 2 - 2rem);
  }
  
  & h3 {
    @extend %billboard-body-base;
    position: relative;
    margin-bottom: -1rem;
    font-size: 2rem;
    font-family: $font-medium;
    letter-spacing: -.5px;
    line-height: 1.2;
    padding: 1rem;
    color: white;
    transform: translateY(-40px);
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

    #{$physicianspage} & {
      background-color: $physicianscolor;
      /*background-image: linear-gradient(to top, rgba(255, 255, 255, 0.05) 9%, $physicianscolor 50%, $physicianscolor);*/
    }

    #{$residentspage} & {
      background-color: $residentscolor;
      /*background-image: linear-gradient(to top, rgba(255, 255, 255, 0.05) 9%, $residentscolor 50%, $residentscolor);*/
    }

    #{$studentspage} & {
      background-color: $studentscolor;
      /*background-image: linear-gradient(to top, rgba(255, 255, 255, 0.05) 9%, $studentscolor 50%, $studentscolor);*/
    }


    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 5px;
      background-image: linear-gradient(to right, $primarycolor -7%, $secondarycolor);
      text-shadow: 3px 3px 8px rgba(42, 65, 125, 0.84);

      @include breakpoint($screen $bbflip) {
        content: none;
      }
    }

    @include breakpoint($screen $bbflip) {
      margin-bottom: 1rem;
      padding: 0;
      background-color: transparent;
      /*background-image: none !important;*/
      box-shadow: none;
      transform: none;
      font-size: 1.5rem;
    }

    @include breakpoint($screen $xlarge-start) {
      font-size: 1.75rem;
    }

    @include breakpoint($screen $xlarge-minor-minor-start) {
      font-size: 2.5rem;

    }
  }

  & p {
    @extend %billboard-body-base;
    font-size: 1.125rem;
    line-height: 1.38;

    &:first-of-type {
      margin-bottom: 1.5rem;
  
      @include breakpoint($screen $bbflip) {
        margin-bottom: auto;
      }
    }

    &:last-of-type {
      @include breakpoint($screen $bbflip) {
        padding-top: 2rem; // Safari hack for now
      }
    }
  
    @include breakpoint($screen $xlarge-start) {
      font-size: 1.125rem;
    }

    @include breakpoint($screen $xlarge-minor-minor-start) {
      font-size: 1.25rem;
    }
  }
}

.billboard__figure {
  min-height: 1px;
}

.billboard__button {

  #{$physicianspage} &.btn--reverse {
    @include billboard-button($physicianscolor);
  }

  #{$residentspage} &.btn--reverse {
    @include billboard-button($residentscolor);
  }

  #{$studentspage} &.btn--reverse {
    @include billboard-button($studentscolor);
  }
}
