%copyright-li-base {
  font-size: inherit;
}
.copyright {

  padding: 1rem 0;

  @include breakpoint($screen $medium-start) {
    padding: 2rem 0 1rem;
  }
    
  & li {
    @extend %copyright-li-base;

    &:not(:last-child) {
      @extend %copyright-li-base;
      margin-right: 1rem;
    }
  }

  & a {
    color: inherit;
  }

}

.copyright__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  @include breakpoint($screen $medium-minor-start) {
    flex-direction: row;
    text-align: left;
  }
}

.copyright__block {

  margin-bottom: 1rem;
  font-size: .75rem;
  color: $font-color;

  @include breakpoint($screen $medium-minor-minor-start) {
    flex-basis: 50%;
  }

  & p {
    font-size: inherit;
  }

  &--menu {

    & ul {
      display: flex;
      justify-content: space-between;
      font-size: .75rem;
      
      @include breakpoint($screen $medium-minor-start) {
        justify-content: flex-end;
      }
    }
  }

}
