.elit-accordion {

  & .accordion-head {
    @extend h4;
    padding: 1.5rem 0;
    line-height: 1.4;

  }

  & section:not(:last-child) > .accordion-head:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $bordergray;
  }

}

