.elit-accordion h2 {
  display: block;
  margin: 0;
  padding: 10px 50px 10px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: #00649B;
  color: #ffffff;
  cursor: pointer;
  transition: background-color .3s ease-in;
}

.elit-accordion .items section input[type=checkbox]:not(:checked) ~ h2,
.elit-accordion .items section input[type=checkbox]:checked:hover ~ h2 {
  background-color: #015280;
}

.elit-accordion p {
  /*font-size: 1rem;*/
  /*line-height: 1.6;*/
}

.elit-accordion p strong {
  /*display: block;*/
  /*text-align: center;*/
  /*line-height: 1.4;*/
}

.elit-accordion p strong a {
  /*text-decoration: none;*/
  /*color: inherit;*/
  /*color: #00649B;*/
}

.elit-accordion p strong a:hover {
  /*text-decoration: underline;*/
}

.elit-accordion p span {
  /*color: #bb4d2e;*/
}

.elit-accordion .transition,
.elit-accordion .item,
/*.elit-accordion p,*/
.elit-accordion .items section i.elit-accordion__icon:before,
.elit-accordion .items section i.elit-accordion__icon:after {
  transition: all .25s ease-in-out;
}

.elit-accordion .no-select
.elit-accordion h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.elit-accordion figure > a {
  /*display: block;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*transition: opacity .3s ease-in-out;*/
  /*color: inherit;*/
  /*opacity: 1;*/
}

//.elit-accordion figure > a:hover {
//  opacity: .6;
//}

.elit-accordion .item {
/*.elit-accordion p {*/
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  z-index: 2;
}

.elit-accordion .items section input[type=checkbox] ~ .item {
  padding: 0 30px;
}

.elit-accordion .items section input[type=checkbox]:not(:checked) ~ .item {
  padding: 30px;
}

.elit-accordion .item:not(:last-of-type):after {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid #d0d0d0;
  bottom: 0px;
}

.elit-accordion figure {
  /*margin-bottom: 20px;*/
  /*text-align: center;*/
}


.elit-accordion img {
  /*max-width: 180px;*/
  /*width: 100%;*/
  /*height: auto;*/
}

.elit-accordion .items {
  padding: 0;
  list-style: none;
  perspective: 900;
}

.elit-accordion .items section {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
}

.elit-accordion .items section:last-of-type {
  padding-bottom: 0;
}

.elit-accordion .items section i.elit-accordion__icon {
  position: absolute;
  z-index: 1;
  transform: translate(-6px, 0);
  -webkit-transform: translate(-6px, 0);
  -ms-transform: translate(-6px, 0);
  -moz-transform: translate(-6px, 0);
  margin-top: 16px;
  right: 30px;
  top: 20px;
}

.elit-accordion .items section i.elit-accordion__icon:before,
.elit-accordion .items section i.elit-accordion__icon:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 3px;
  height: 9px;
}

.elit-accordion .items section i.elit-accordion__icon:before {
  transform: translate(-2px, 0) rotate(45deg);
  -webkit-transform: translate(-2px, 0) rotate(45deg);
  -ms-transform: translate(-2px, 0) rotate(45deg);
  -moz-transform: translate(-2px, 0) rotate(45deg);
}

.elit-accordion .items section i.elit-accordion__icon:after {
  transform: translate(2px, 0) rotate(-45deg);
  -webkit-transform: translate(2px, 0) rotate(-45deg);
  -ms-transform: translate(2px, 0) rotate(-45deg);
  -moz-transform: translate(2px, 0) rotate(-45deg);
}

.elit-accordion .items section input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}


/*.elit-accordion .items section input[type=checkbox]:checked ~ p,*/
.elit-accordion .items section input[type=checkbox]:checked ~ .item {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
}

.elit-accordion .items section input[type=checkbox]:checked ~ i.elit-accordion__icon:before {
  transform: translate(2px, 0) rotate(45deg);
  -webkit-transform: translate(2px, 0) rotate(45deg);
  -ms-transform: translate(2px, 0) rotate(45deg);
  -moz-transform: translate(2px, 0) rotate(45deg);
}

.elit-accordion .items section input[type=checkbox]:checked ~ i.elit-accordion__icon:after {
  transform: translate(-2px, 0) rotate(-45deg);
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
  -ms-transform: translate(-2px, 0) rotate(-45deg);
  -moz-transform: translate(-2px, 0) rotate(-45deg);
}

@media screen and (min-width: 1066px) {

  .elit-accordion .items section input[type=checkbox]:not(:checked) ~ .item {
    padding: 30px;
  }

  .elit-accordion figure {
    /*text-align: center;*/
    /*display: inline-block;*/
    /*width: 25%;*/
    /*margin: 0 40px 0 0;*/
    /*vertical-align: top;*/
  }

  .elit-accordion p {
    /*display: inline-block;*/
    /*width: 64%;*/
    /*margin-top: 0 !important;*/
  }

  .elit-accordion p strong {
    /*text-align: left;*/
  }
}


