%entry-header-base {
  margin-bottom: 3rem;
}

.entry {

  &__gradient {
    /*@extend %entry-header-base;*/
    position: relative;
    padding: 2rem 0;
    background-image: linear-gradient(to left, $primarycolor, $primarycolor 33%, $accentcolor);
    color: $white;
    transform-origin: 100%;
    animation: 1s cubic-bezier(0, 0.5, 0, 1) forwards rotate-up;
    backface-visibility: hidden;
  }

  &__header {
    @extend %entry-header-base;

    &--gradient {
      
    }

  }

  &__title {

    margin-bottom: 0;
    padding-bottom: 0;
    color: inherit;
    border-bottom: none;

    &--error {
      text-align: center;
    }

  }

  &__body {
  
  }

}
