%gradient-position-base {
  position: relative;
  /*transform-origin: 100%;*/
  transform-origin: 50% 50%;
  /*animation: 1s cubic-bezier(0, 0.5, 0, 1) forwards rotate-up;*/
  backface-visibility: hidden;
}

%leadin-base {
  & h4 {
    color: $font-color;
    font-size: 1.25rem;
    line-height: 1.3;
    
    @include breakpoint($screen $large-minor-minor-start) {
      font-size: 1.625rem;
    }
  }
}

.entry {

  &__gradient {
    position: relative;
    top: 1vw;
    margin-bottom: 1vw;
    padding: 2rem 0;
    color: $white;
    /*transform: rotate(-4deg);*/

    > div {
      transform-origin: 50% 50%;
      transform: translateY(0%) rotate($standalonerotation);

      @include breakpoint($screen $xlarge-minor-start) {
        /*transform: translateY(1%) rotate($rotation);*/
      }

      @include breakpoint($screen 75rem) {
        /*transform: translateY(1%) rotate($rotation);*/
      }

      @include breakpoint($screen 77rem) {
        /*transform: translateY(4%) rotate($rotation);*/
      }

      @include breakpoint($screen 80rem) {
        /*transform: translateY(10%) rotate($rotation);*/
      }

      @include breakpoint($screen $contentwidth + 2rem) {
        /*transform: translateY(calc(2vw - 15%)) rotate($standalonerotation);*/
      }

      @include breakpoint($screen 1800px) {
        /*transform: translateY(calc(2vw - 12%)) rotate($standalonerotation);*/
      }
      
    }

    &:after {

      @extend %gradient-position-base;
      content: '';
      position: absolute;
      top: 8%;
      bottom: 8%;
      left: 0;
      right: 0;
      z-index: -1;
      background-image: linear-gradient(86deg, $primarycolor, $secondarycolor);
      transform: skew($standalonerotation) rotateZ($standalonerotation);
    }

    @include breakpoint($screen $xlarge-minor-start) {
      margin-bottom: 1rem;
    }
  }

  &__leadin {
    @extend %leadin-base;

    &--gradient {
      @extend %leadin-base;
      @extend %gradient-position-base;
      transform: rotate($standalonerotation);
    }
  }

  &__header {
    position: relative;
    top: 1vw;
    margin-bottom: 3rem;
    /*animation: 1s cubic-bezier(0, 0.5, 0, 1) forwards fade-in-up;*/
    animation: 1s ease-out forwards fade-in-up;

    @include breakpoint($screen $medium-minor-minor-start) {
      margin-bottom: 4rem;
    }

    @include breakpoint($screen $contentwidth + 2rem) {
      margin-bottom: 5rem;
    }

    &--audience {
      margin-bottom: 2rem;
      /*animation: rotate-up 1.8s cubic-bezier(0,.5,0,1) forwards, fade-in 10s linear forwards;*/
      /*animation: rotate-up-fade-in 1s cubic-bezier(0,.5,0,1) forwards;*/
      animation: rotate-up-fade-in 1s ease-out forwards;

      @include breakpoint($screen $medium-minor-start) {
        margin-bottom: 3rem;
      }

      @include breakpoint($screen $large-minor-minor-start) {
        margin-bottom: 4rem;
      }

      @include breakpoint($screen $xlarge-start) {
        margin-bottom: 6rem;
      }

      & h4 {
        font-size: 1.25rem;
        line-height: 1.4;
        color: $font-color;

        @include breakpoint($screen $large-start) {
          max-width: 80%;
          font-size: 1.5rem;
        }
      }
    }
  }


  &__body {
  
  }

}

.entry__title {

  margin-bottom: 0;
  padding-bottom: 0;
  color: inherit;
  font-family: $font-book;
  line-height: 1.4;
  border-bottom: none;

  @include breakpoint($screen $large-start) {
    font-size: 2.33rem;
  }

  @include breakpoint($screen $large-minor-minor-start) {
    font-size: 3rem;
  }

  &--error {
    text-align: center;
  }

  &--audience {

    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-family: $font-bold;
    font-size: calc(20vw - .5rem);
    letter-spacing: -2.5px;

    @include breakpoint($screen $medium-start) {
      font-size: calc(20vw - 1rem);
      letter-spacing: -4px;
    }

    @include breakpoint($screen $large-start) {
      font-size: 13vw;
      letter-spacing: -5px;
    }

    @include breakpoint($screen $large-minor-start) {
      letter-spacing: -7px;
    }

    @include breakpoint($screen $xlarge-start) {
      letter-spacing: -9px;
    }

    @include breakpoint($screen $xlarge-minor-start) {
      letter-spacing: -11px;
    }

    @include breakpoint($screen $xxlarge-start) {
      font-size: 12rem;
    }

    &:after {
      content: "";
      @extend %splash-border-base;
      left: 50%;
      right: 0;
      bottom: 0;
      width: 120vw;
      z-index: 2;
      background-image: linear-gradient(to right, 
                                        $accentcolor 0%, 
                                        $primarycolor 12%, 
                                        $accentcolor 24%, 
                                        $primarycolor 36%, 
                                        $accentcolor 48%, 
                                        $primarycolor 60%, 
                                        $accentcolor 72%, 
                                        $primarycolor 84%, 
                                        $accentcolor 100%);
      transform-origin: 0 0;
      animation: slide 6s infinite linear backwards;
      transform: translateX(-50%);
    }

    .page-physicians & {
      color: $physicianscolor;
    }

    .page-residents & {
      color: $residentscolor;
    }

    .page-students & {
      color: $studentscolor;
    }

  }

}

.entry-content {

  & > p:first-of-type:first-letter {
    height: .7em;
    margin: .13em 0 -.05em 0;
    padding: 0 .1em 0 0;
    font-family: $font-light;
    font-size: 49px;
    line-height: .7em;
    float: left;
    color: $gray;

    @include breakpoint($screen $large-start) {
      font-size: 53px;
    }
  }

}
