%gradient-position-base {
  position: relative;
  transform-origin: 100%;
  /*animation: 1s cubic-bezier(0, 0.5, 0, 1) forwards rotate-up;*/
  backface-visibility: hidden;
}

%leadin-base {
  & h4 {
    color: $font-color-lightest;
    font-size: 1.25rem;
    line-height: 1.3;
    
    @include breakpoint($screen $large-minor-minor-start) {
      font-size: 1.625rem;
    }
  }
}

.entry {

  &__gradient {
    position: relative;
    margin-bottom: 1rem;
    padding: 2rem 0;
    color: $white;

    > div {
      transform-origin: 100%;
      transform: translateY(0%) rotate(-4deg);

      @include breakpoint($screen $xlarge-minor-start) {
        transform: translateY(1%) rotate(-4deg);
      }

      @include breakpoint($screen 75rem) {
        transform: translateY(1%) rotate(-4deg);
      }

      @include breakpoint($screen 77rem) {
        transform: translateY(4%) rotate(-4deg);
      }

      @include breakpoint($screen 80rem) {
        transform: translateY(10%) rotate(-4deg);
      }
    }

    &:after {

      @extend %gradient-position-base;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      background-image: linear-gradient(86deg, $primarycolor, $secondarycolor);
      transform: skew(-4deg) rotateZ(-4deg);
    }

    @include breakpoint($screen $xlarge-minor-start) {
      margin-bottom: 2rem;
    }
  }

  &__leadin {
    @extend %leadin-base;

    &--gradient {
      @extend %leadin-base;
      @extend %gradient-position-base;
      transform: rotate(-4deg);
    }
  }

  &__header {
    margin-bottom: 3rem;
    animation: 1s cubic-bezier(0, 0.5, 0, 1) forwards fade-in-up;

    @include breakpoint($screen $medium-start) {
      margin-bottom: 4rem;
    }

    @include breakpoint($screen $medium-minor-minor-start) {
      margin-bottom: 5rem;
    }

    @include breakpoint($screen $large-minor-start) {
      margin-bottom: 6rem;
    }

    @include breakpoint($screen $large-minor-minor-start) {
      margin-bottom: 7rem;
    }
  }

  &__title {

    margin-bottom: 0;
    padding-bottom: 0;
    color: inherit;
    font-family: $font-light;
    line-height: 1.4;
    border-bottom: none;

    @include breakpoint($screen $large-start) {
      font-size: 2.33rem;
    }

    @include breakpoint($screen $large-minor-minor-start) {
      font-size: 3rem;
    }

    &--error {
      text-align: center;
    }

  }

  &__body {
  
  }

}
