.event {
  position: absolute;
  bottom: -570px;
  width: 100%;

  &__body {
    padding: 1rem;

    & h4 {
      @extend %color-for-audience;
    }
  }

  &__item {
    @extend %card-base;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

}
