$fsbreak: $large-start;

%illos-base {
  position: absolute;
  height: auto;
}

.fs {

  &__illos {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: .2;

    @include breakpoint($screen $xlarge-start) {
      display: block;
    }

    &--0 {
      @extend %illos-base;
      top: 33%;
      left: 0;
      width: 22.1875vw;
    }
    
    &--1 {
      @extend %illos-base;
      top: 3rem;
      right: 3%;
      width: 12.1875vw;
    }

    &--2 {
      @extend %illos-base;
      top: 80vh;
      left: -5%;
      width: 10vw;
    }
  }

  &__block {
    position: relative;
    /*background-image: url(public/images/dot-pattern-2.png);*/
  }

  &__items {
  }
  &__itemcontainer {

  }

  &__item {
    @extend %card-base;
    top: -5rem;
    padding: 6rem 1rem 2rem;
  }

  &__name {
    position: relative;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .5px;
    line-height: 1.4;
    color: $primarycolor;
    opacity: .6;

    @extend %color-for-audience;

//    &:after {
//      content: "";
//      /* height: 10px; */
//      position: absolute;
//      top: -5px;
//      left: -1rem;
//      right: -1rem;
//      height: calc(100% + 10px);
//      z-index: -1;
//      background-color: rgba($primarycolor, .3);
//    }
  }

  &__kicker {
    display: inline-block;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-family: $font-medium;
    font-size: .875rem;
    line-height: 1.4;
    border-bottom: 1px solid $primarycolor;

    @extend %color-for-audience;
    @extend %border-color-for-audience;
    
  }

  &__header {

    margin-bottom: 1rem;
    min-height: 4.6875rem;
    font-family: $font-light;
    font-weight: 200;
    font-size: 1.125rem;
    color: $font-color-lighter;

    &--minor {
      margin-bottom: 1rem;
      font-size: .75rem;
      line-height: 1.4;
      color: $primarycolor;
  
      @extend %color-for-audience;
    }
  }

  &__imagecontainer {
    position: relative;
    top: 0;
    left: 50%;
    z-index: 1;
    max-width: 128px;
    transform: translateX(-50%);
  }

  &__image {
    /*filter: hue-rotate(114deg) saturate(2) sepia();*/
    clip-path: ellipse(50% 50% at 50% 50%);
  }

}

