$hflip: $medium-start;

%highlightable-text-base {
  font-family: $font-light;
  color: $white;
  
  @include breakpoint($screen $hflip) {
    margin-bottom: 1.3125rem;
  }
}

.highlightable {
  position: relative;

  @include breakpoint($screen $hflip) {
    height: 533px;
    overflow: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5%;
    right: -5%;
    /*transform-origin: 0 0;*/
    /*transform: skewY($rotation) translateY(-50%);*/
    transform: skewY($rotation) translateY(2rem);
    backface-visibility: hidden;
    background-image: linear-gradient(to right, $primarycolor, $accentcolor);

    @include breakpoint($screen $hflip) {
      
      top: 19%;
      height: 305px;
      background-image: linear-gradient(to right, $primarycolor, $primarycolor 33%, $accentcolor);
    }
  }
}

.highlightable__block {
  position: relative;
  z-index: 2;

  @include breakpoint($screen $hflip) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.highlightable__body {
  position: relative;
  display: flex;
  flex-direction: column; 

  @include breakpoint($screen $medium-start) {
    flex-direction: row; 
  }  
}

.highlightable__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($screen $hflip) {
    flex-basis: 32%;
    transform: translateY(-9%);
    
  }
}

.highlightable__header {
  @extend %highlightable-text-base;
  margin-bottom: 1.125rem;
  font-size: 1.75rem;
}

.highlightable__blurb {
  @extend %highlightable-text-base;
  margin-bottom: 1.625rem;
  font-size: 1.125rem;
  line-height: 1.6;
}

.highlightable__imagecontainer {
  position: relative;
  margin-bottom: 1.625rem;
  padding: .25rem;
  /*max-width: 650px;*/
  border-radius: 2px;
  box-shadow: 0 0 13px -1px rgba(0, 0, 0, 0.17);
  background-color: $white;

  & > img {
    float: left;
  }

  @include breakpoint($screen $hflip) {
    
    flex-basis: 65%;
    margin-right: 2rem;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 3px;
  }
}

.highlightable__button {

  &.btn {
    background-color: $accentcolor;
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px $accentcolor;
  }
}
