.icon {

  &-omed-logo-plain {

  }

  &-arrow1 {

    .intro & {
      position: absolute;
      left: 50%;
      bottom: -12px;
      fill: $primarycolor;
      opacity: .6;
      transform: translateX(-50%);
    }
  }

}
