$goToTwoCol: $large-start;

%intro-block-base {

  @include breakpoint($screen $goToTwoCol) {
    flex-basis: 50%;
  }
}

.intro {
  position: relative;
  /*padding-bottom: 2rem;*/

  & h5 {
    font-size: 1.3125rem;
    font-family: $font-medium;
  }
}

.intro__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include breakpoint($screen $goToTwoCol) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.intro__focus {
  @extend %intro-block-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint($screen $goToTwoCol) {
    &:before {
      /*content: "";*/
      position: absolute;
      top: -250px;
      bottom: 4px;
      right: 50%;
      border-right: 1px dotted $primarycolor;
    }
  }
}

.intro__context {
  @extend %intro-block-base;
  @include edge-spacing();

  @include breakpoint($screen $large-start) {
    padding-left: 3.375rem;
  }
}

.intro__button {
  position: relative;
  top: 0;
  text-align: center;

  @include breakpoint($screen $goToTwoCol) {
    top: 108px;
  }
}
