.logo {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include edge-spacing(false);


  & > a {
    display: block;
    /*transition: opacity .3s;*/

    /*&:hover {*/
      /*opacity: .75;*/
    /*}*/
  }
}
