.nav-trigger {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: table;
  height: 100%;
  padding: 0 1rem;
  font-size: .75rem;
  text-transform: uppercase;
  color: $font-color;
  border-left: 1px solid $lightgray;

  &:link, &:visited
  &:hover, &:active {
    text-decoration: none;
  }

  @include breakpoint($screen $navflip) {
    display: none;
  }

  & span {
    display: table-cell;
    vertical-align: middle;

    & em {
      @extend %em-base;
      position: relative;
      margin: 6px auto 14px;
      transition: background-color .2s;

      .nav-open & {
        background-color: $white;
      }

      &:before,
      &:after {
        @extend %em-base;
        position: absolute;
        content: "";
        left: 0;
        transition: transform .2s, -webkit-transform .2s;
      }

      &:before {
        transform: translateY(-6px);

        .nav-open & {
          transform: rotate(-45deg);
        }
      }

      &:after {
        transform: translateY(6px);

        .nav-open & {
          transform: rotate(45deg);
        }
      }
    }
  }
}



