@mixin current-item-after-base($color) {

  @include breakpoint($screen max-width $large-minor-end) {
    opacity: .6;

    &:hover {
      padding-left: 5px;
    }
  }

  @include breakpoint($screen $navflip) {

    color: $color;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 17px;
      width: 40px;
      height: 2px;
      background-color: $color;
      transform: translateX(-50%);
    }
  }
}

%nav-item-background {
  background-image: url('images/svg/minified/arrow.svg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 12px;

  @include breakpoint($screen $navflip) {
    background: none;
  }
}

@mixin small-nav-hover {
  @include breakpoint($screen max-width $large-minor-end) {
    &:hover {
      padding-left: 10px;
    }
    
  }
}


.navigation {

  position: absolute;
  z-index: 2;
  top: $header-height-small;
  right: 0;
  width: 100%;
  max-height: 0;
  padding: 2rem 1rem;
  opacity: 0;
  background-color: $primarycolor;
  /*box-shadow: 0 14px 20px rgba(0,0,0,.2);*/
  border-bottom: 1px solid rgba(0,0,0,.2);
  transition: max-height .4s, opacity .2s;
  @include clearfix;
  @include edge-spacing();

  .nav-open & {
    max-height: 100vh;
    opacity: 1;
    box-shadow: inset 0px 9px 19px -7px rgba(0, 0, 0, 0.36);

    @include breakpoint($screen $navflip) {
      box-shadow: none;
      opacity: 1;
    }
  }

  @include breakpoint($screen $medium-start) {
    width: 300px;
  }
  
  @include breakpoint($screen $navflip) {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    /*box-shadow: none;*/
    opacity: 1;
    background-color: $white;
    border-bottom: none;
    max-height: none;
  }
}

.navigation__container {
  height: 100%;

  @include breakpoint($screen max-width $large-minor-end) {
    display: none;

    .nav-open & {
      display: block;
    }
  }
}

.navigation > li:not(:last-child) {

  @include breakpoint($screen $navflip) {
    /*margin-right: 4rem;*/
  }
}

.navigation > li {

  margin-bottom: 0;
  opacity: 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($white, .63);

    & a {

      @include breakpoint($screen $navflip) {
        padding: 1rem 2rem;        
        line-height: 3.5;
      }
    }
  }

  &:last-child {

    @include breakpoint($screen $navflip) {
      display: table;
    }

    & a {
      @include breakpoint($screen $navflip) {
        display: table-cell;
        vertical-align: middle;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
      }
    }
  }

  @include breakpoint($screen $navflip) {
    height: 100%;
    opacity: 1; 
  }

  .nav-open & {
    animation-name: fadeInFromRight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }

  &:nth-child(1) {

    & > a {
      @include small-nav-hover;
      @include nav-hover($physicianscolor, 40px);
      @extend %nav-item-background;
    }
  }


  &:nth-child(2) {
    animation-delay: .1s;

    & > a {
      @include small-nav-hover;
      @include nav-hover($residentscolor, 40px);
      @extend %nav-item-background;
    }
  }

  &:nth-child(3) {
    animation-delay: .2s;

    & > a {
      @include small-nav-hover;
      @include nav-hover($studentscolor, 40px);
      @extend %nav-item-background;
    }
  }

  &:nth-child(4) {
    animation-delay: .3s;
    text-align: center;
  }

  @include breakpoint($screen $navflip) {
    display: inline-block;
  }

  & > a {
    position: relative;
    display: block;
    padding: 12px 0 10px 5px;
    text-decoration: none;
    vertical-align: middle;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    transition: all .3s;

    @include breakpoint($screen $navflip) {
      height: 100%;
      /*padding: 1rem;*/
      font-family: $font-medium;
      color: inherit;


      &:visited {
        color: inherit;
      }

      &:hover {
        color: $primarycolor;
        transform: none;
        
      }

      &:active {
        color: $primarycolor;
      }
    }
  }
}

.navigation > li.current-menu-item {

  &:nth-child(1) > a {
    @include current-item-after-base($physicianscolor);
  }

  &:nth-child(2) > a {
    @include current-item-after-base($residentscolor);
  }

  &:nth-child(3) > a {
    @include current-item-after-base($studentscolor);
  }
}
