.navigation {

  position: absolute;
  z-index: 2;
  top: $header-height-small;
  right: 0;
  width: 100%;
  max-height: 0;
  padding: 2rem 1rem;
  opacity: 0;
  background-color: $primarycolor;
  /*box-shadow: 0 14px 20px rgba(0,0,0,.2);*/
  border-bottom: 1px solid rgba(0,0,0,.2);
  transition: max-height .4s, opacity .2s;
  @include clearfix;

  .nav-open & {
    max-height: 100vh;
    opacity: 1;
    box-shadow: inset 0px 9px 19px -7px rgba(0, 0, 0, 0.36);
  }

  @include breakpoint($screen $medium-start) {
    width: 300px;
  }
  
  @include breakpoint($screen $navflip) {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    /*box-shadow: none;*/
    opacity: 1;
    background-color: $white;
    border-bottom: none;
    max-height: none;
  }

  & > li:not(:last-child) {
    @include breakpoint($screen $navflip) {
      margin-right: 4rem;
    }
  }

  & > li {
    margin-bottom: 0;
    opacity: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $white;
    }

    @include breakpoint($screen $navflip) {
      opacity: 1; 
    }

    .nav-open & {
      animation-name: fadeInFromRight;
      animation-duration: .4s;
      animation-fill-mode: forwards;
    }

    &:nth-child(2) {
      animation-delay: .1s;
    }

    &:nth-child(3) {
      animation-delay: .2s;
    }

    &:nth-child(4) {
      animation-delay: .3s;
    }

    @include breakpoint($screen $navflip) {
      display: inline-block;
    }

    & > a {
      position: relative;
      display: block;
      padding: 12px 0 10px 5px;
      text-decoration: none;
      vertical-align: middle;
      color: $white;
      transition: all .3s;

      &:hover {
        transform: translateX(3px);
      }

      @include breakpoint($screen $navflip) {
        display: block;
        padding: 1rem;
        text-transform: uppercase;
        font-family: $font-medium;
        font-size: .875rem;
        letter-spacing: 1px;
        color: inherit;


        &:visited {
          color: inherit;
        }

        &:hover {
          color: $primarycolor;
          transform: none;
          
        }

        &:active {
          color: $primarycolor;
        }
      }
    }

    &:not(:last-child) > a {

      @include breakpoint($screen $navflip) {
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          background-color: $primarycolor;
          bottom: 0;
          width: 40px;
          height: 2px;
          transition: all .3s;
          transform: translateX(-50%) scale(0);
        }

        &:hover:after {
          transform: translateX(-50%) scale(1);
        }
      }
    }
  }
}
