.pageblock {

  margin-bottom: 3rem;

  @include breakpoint($screen $large-start) {
    margin-bottom: 8rem;

    &--xs {
      margin-bottom: 4rem;
    }

    &--sm {
      margin-bottom: 6rem;
    }

    &--lg {
      margin-bottom: 10rem;
    }

    &--xl {
      margin-bottom: 12rem;
    }
  }

}
