%pageblock-base {
  margin-bottom: 3rem;
} 

.pageblock {

  @extend %pageblock-base;

  @include breakpoint($screen $large-start) {
    margin-bottom: 8rem;
  }

  &--xs {
    @extend %pageblock-base;

    @include breakpoint($screen $large-start) {
      margin-bottom: 4rem;
    }
  }

  &--sm {
    @extend %pageblock-base;

    @include breakpoint($screen $large-start) {
      margin-bottom: 6rem;
    }
  }

  &--lg {
    @extend %pageblock-base;

    @include breakpoint($screen $large-start) {
      margin-bottom: 10rem;
    }
  }

  &--xl {
    @extend %pageblock-base;

    @include breakpoint($screen $large-start) {
      margin-bottom: 12rem;
    }
  }

  &--xxl {
    @extend %pageblock-base;

    @include breakpoint($screen $large-start) {
      margin-bottom: 14rem;
    }
  }
}
