.window {

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 9rem;

  &,
  #{$physicianspage} & {
    @include scrim($physicianscolor);
  }

  #{$residentspage} & {
    @include scrim($residentscolor);
  }

  #{$studentspage} & {
    @include scrim($studentscolor);
  }

  &__body {
    position: relative;
    left: 0;
    padding: 2rem;

    & h2 {

      @extend %page-header;
      color: white;
      margin-bottom: 1rem;
    }

    & p {
      color: $white;
      font-size: 19px;
      width: 78%;
    }
    
  }

  &__cta {
    color: $white;
    font-family: $font-bold;
  }

  &__container {
  overflow: hidden;
  }

}
